<!--component html goes here -->
<div class="container">
    <!-- Content here -->
    <div class="row justify-content-center">
        <div class="card text-center" *ngFor="let chest of chest$ | async;">
            <img class="card-img-top" src="/assets/images/chests/{{getImage(chest.idName)}}.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{chest.name}}</h4>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
