<!--h1>{{title}}</h1-->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <a class="navbar-brand" routerLink="/">Clash Royale</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/arenas">Arenas</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/cards">Cards</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/chests">Chests</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
