<!--component html goes here -->
<div class="container">
    <!-- Content here -->
    <div class="row justify-content-center">
        <div class="card col-sm-4" routerLink="/arenas">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Arenas</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="card col-sm-4" routerLink="/cards">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Cards</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-sm-4" routerLink="/chests">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Chests</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="card col-sm-4">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
