Arena detail

<!--component html goes here -->
<div class="container">
    <ul>
        <li>{{arena?.name}}</li>
        <li>{{arena?.minTrophies}}</li>

        <ngb-tabset>
            <ngb-tab title="Cards">
                <ng-template ngbTabContent>
                    <clash-royale-card-list [idArena]="arena?.number"></clash-royale-card-list>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Chests">
                <ng-template ngbTabContent>
                    <clash-royale-chest-list [idArena]="arena?.number"></clash-royale-chest-list>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </ul>
</div>
